h1 {
   text-align: center;
   color: rgb(0, 92, 128);
}

.btn  {

    margin-top: 25px;
    margin-bottom: 15px;

}

textarea {

    width: 100%;
    max-height: 5rem;
    background-color: #6C757D;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

p {
    text-align: center;
}